{% load static %}
<div id="busstop-data" class="d-none">
    <div class="d-flex flex-column border-top">
        <span class="px-3 mt-3 mb-3">Данные остановки</span>
        <div class="px-3 mb-3">
            <span class="text-body-tertiary">Название</span>
            <span id="selected-busstop-name">Название</span>
        </div>
        <a class="btn btn-light rounded-0 w-100" onclick="" id="show-busstop-location-button">
            <div class="d-flex align-items-center">
                <span class="text-bg-secondary fs-5 rounded"><i class="bi bi-signpost-fill m-2"></i></span>
                <span class="ms-3">Расположение</span>
            </div>
        </a>
    </div>
</div>
