{% load static %}
<div id="transport-data" class="d-none">
    <div class="d-flex flex-column border-top">
        <span class="px-3 mt-2 mb-2">Данные транспорта</span>
        <div class="px-3 mb-3">
            <label for="selected-transport-name" class="form-label text-body-tertiary">Название транспорта</label>
            <input type="text" class="form-control" id="selected-transport-name" required />
            <div class="invalid-feedback">Укажите название транспорта.</div>
        </div>
        <a class="btn btn-light rounded-0 w-100" onclick="" id="show-transport-location-button">
            <div class="d-flex align-items-center">
                <span class="text-bg-secondary fs-5 rounded"><i class="bi bi-signpost-fill m-2"></i></span>
                <span class="ms-3">Расположение</span>
            </div>
        </a>
        <a class="btn btn-light rounded-0 w-100" onclick="SaveTransport();">
            <div class="d-flex align-items-center">
                <span class="text-bg-success fs-5 rounded"><i class="bi bi-floppy-fill m-2"></i></span>
                <span class="ms-3">Сохранить</span>
            </div>
        </a>
        <a class="btn btn-light rounded-0 w-100" onclick="DeleteTransport();">
            <div class="d-flex align-items-center">
                <span class="text-bg-danger fs-5 rounded"><i class="bi bi-x-square m-2"></i></span>
                <span class="ms-3">Удалить</span>
            </div>
        </a>
    </div>
</div>
