# virtual environment
venv/

# OSX
**/.DS_Store

# Thumbnails
._*

# Python
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
local_settings.py

# Development
.vscode/
.idea/
.prettierrc
database/
resources/

# static
app/static/*

# css
!app/static/css/
app/static/css/*
!app/static/css/styles.css

# javascript
!app/static/js/
app/static/js/*
!app/static/js/busstop/
!app/static/js/map/
!app/static/js/route/
!app/static/js/transport/
!app/static/js/requests.js
!app/static/js/django-csrf.js
!app/static/js/mobile-fullscreen.js
!app/static/js/custom_elements/

# pictures
app/static/pictures/