# virtual environment
venv/

# OSX
.DS_Store

# Thumbnails
._*

# Python
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
local_settings.py

# Development
.vscode/
.idea/
.prettierrc
database/
resources/

# javascript libs
app/static/openlayers/
app/static/proj4js/

# pictures
app/static/pictures/

# bootstrap icons lib
app/static/css/bootstrap-icons.min.css
app/static/css/fonts/

# tiles
app/static/tiles/2gis.mbtiles
app/static/tiles/osm.mbtiles