{% load static %}
<div class="additional-sidebar w-0 col-sm-3 col-lg-2" id="additional-sidebar">
    <div class="d-flex flex-column border-start h-100">
        <div class="mb-auto" id="additional-sidebar-container"></div>
        <a class="btn btn-light rounded-0 w-100 d-flex align-items-center mb-3 text-secondary" onclick="ToggleAdditionalSidebar();">
            <span class="fs-5 me-3"><i class="bi bi-arrow-bar-left"></i></span>
            <span>Скрыть</span>
        </a>
    </div>
</div>

<script>
    const additionalSidebar = document.getElementById('additional-sidebar');
    let additionalSidebarVisible = false;
    function ToggleAdditionalSidebar() {
        mapContainer = document.getElementById('map-container');
        mapContainer.classList.toggle('col-sm-8');
        mapContainer.classList.toggle('col-lg-9');
        mapContainer.classList.toggle('col-sm-5');
        mapContainer.classList.toggle('col-lg-6');
        additionalSidebar.classList.toggle('w-0');
        additionalSidebar.classList.toggle('additional-sidebar-show');
        additionalSidebarVisible = !additionalSidebarVisible;
    }
</script>
