{% load static %}
<div id="as_route-data" class="d-none">
    <div class="route-legend__title sticky-top bg-white">
        <h2 class="fs-5 fw-medium mb-0"><span id="as_route-transport-type"></span><span id="as_route-transport-name" class="ms-2"></span></h2>
        <div class="route-legend__essential">
            <span class="me-1">ЦУМ</span>
            <span class="text-secondary"><i class="bi bi-caret-right-fill"></i></span>
            <span class="ms-1">Киргу</span>
        </div>
    </div>
    <div class="p-3">
        <span class="fw-medium fs-6">Список остановок</span>
    </div>
    <ul class="route-busstops__items">
        <div id="route-legend" class="route-legend"></div>
        <li class="route-busstops__item">
            <div class="route-busstops__bullet"></div>
            <a class="route-busstops__link" href="#">test 1</a>
        </li>
        <li class="route-busstops__item">
            <div class="route-busstops__bullet"></div>
            <a class="route-busstops__link" href="#">test 2</a>
        </li>
        <li class="route-busstops__item">
            <div class="route-busstops__bullet"></div>
            <a class="route-busstops__link" href="#">test 3</a>
        </li>
        <li class="route-busstops__item">
            <div class="route-busstops__bullet"></div>
            <a class="route-busstops__link" href="#">test 4</a>
        </li>
        <li class="route-busstops__item">
            <div class="route-busstops__bullet"></div>
            <a class="route-busstops__link" href="#">test 4</a>
        </li>
    </ul>
</div>
