{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    <title>Редактирование карты</title>
{% endblock %}

{% block specific_styles %}
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
    </style>
    <link rel="stylesheet" href="{% static 'openlayers/ol.css' %}" type="text/css" />
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <main class="container-fluid h-100 d-flex flex-column flex-sm-row p-0 h-100">
        <div class="col-12 col-sm-4 col-lg-3 sidebar d-flex flex-column" id="sidebar">
            <header class="py-3 border-bottom">
                <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'pictures/logo.png' %}" alt="" width="40px" height="40px" /></a>
                        <ul class="dropdown-menu text-small shadow">
                            <li>
                                <a class="dropdown-item active" href="#" aria-current="page">Карта</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center">
                        <form class="w-100 me-3" role="search">
                            <input type="search" class="form-control" placeholder="Найти..." />
                        </form>
                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-flex justify-content-center align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"><span class="text-secondary fs-3"><i class="bi bi-person-circle"></i></span></a>
                            <ul class="dropdown-menu text-small shadow">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_staff %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'map-edit' %} ">Редактирование</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Настройки</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="#">Профиль</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'login' %}">Войти</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'signup' %}">Регистрация</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none px-3 py-2" onclick="selectToolSidebar('');">
                <span class="me-3 pe-none fs-3 text-primary"><i class="bi bi-tools"></i></span>
                <span class="fs-4 fw-light text-secondary">Инструменты</span>
            </a>
            <div class="d-flex flex-column overflow-auto mb-auto">
                {% include 'map/tools_sidebar.html' %}
                {% include 'route/tools_sidebar.html' %}
                {% include 'route/new_sidebar.html' %}
                {% include 'route/list_sidebar.html' %}
            </div>
            <div class="p-3">
                <a class="btn btn-outline-secondary w-100 d-flex align-items-center" onclick="ToggleSidebar();">
                    <span class="fs-5 me-3"><i class="bi bi-arrow-bar-left"></i></span>
                    <span>Скрыть</span>
                </a>
            </div>
            <div class="sidebar-toggler" id="sidebar-toggler">
                <a class="btn btn-outline-secondary w-100 d-flex align-items-center" onclick="ToggleSidebar();">
                    <span class="fs-5 me-3"><i class="bi bi-arrow-bar-right"></i></span>
                    <span>Отобразить</span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-8 col-lg-9 flex-grow-1">
            <div id="map" class="map"></div>
        </div>
    </main>
{% endblock %}

{% block footer %}

{% endblock %}

{% block specific_scripts %}
    <script src="{% static 'proj4js/proj4.js' %}"></script>
    <script src="{% static 'openlayers/dist/ol.js' %}"></script>
    <script src="{% static 'js/map/defs.js' %}"></script>
    <script src="{% static 'js/map/config.js' %}"></script>
    <script src="{% static 'js/map/view.js' %}"></script>
    <script src="{% static 'js/route/loader.js' %}"></script>
    <script src="{% static 'js/map/edit.js' %}"></script>
    <script src="{% static 'js/route/creator.js' %}"></script>
    <script src="{% static 'js/django-csrf.js' %}"></script>
    <script>
        function ToggleSidebar() {
            document.getElementById('sidebar').classList.toggle('sidebar-hidden');
            document.getElementById('sidebar-toggler').classList.toggle('sidebar-toggler-visible');
        }
    </script>
    <script>
        const sidebars = [
            document.getElementById('tools-sidebar'),
            document.getElementById('new-route-sidebar'),
            document.getElementById('routes-tools-sidebar'),
            document.getElementById('routes-list-sidebar')
            // document.getElementById('stops-sidebar')
        ];
        function selectToolSidebar(sidebar) {
            for (let i = 0; i < sidebars.length; i++) {
                sidebars[i].classList.add('d-none');
            }
        
            if (sidebar !== '') {
                document.getElementById(sidebar).classList.remove('d-none');
            } else {
                document.getElementById('tools-sidebar').classList.remove('d-none');
            }
        }
    </script>
    <script>
        function SelectRouteData(routeId) {
            if (routeId === '') return;
            let selectedRoute = null;
            for (let i = 0; i < loadedRoutes.length; i++) {
                if (loadedRoutes[i].id === routeId) selectedRoute = loadedRoutes[i];
            }
            console.log(selectedRoute);
            document.getElementById('route-data').classList.remove('d-none');
            document.getElementById('selected-route-name').innerText = selectedRoute.name;
            document.getElementById('show-route-path-a').onclick = function () {
                SelectPathFeatureByID(selectedRoute.path_a.line.id);
            };
            document.getElementById('show-route-path-b').onclick = function () {
                SelectPathFeatureByID(selectedRoute.path_b.line.id);
            };
        }
    </script>
{% endblock %}
