{% load static %}
<div id="routes-sidebar" class="d-none">
    <div class="d-flex flex-column">
        <a class="btn btn-light rounded-0 w-100" onclick="selectTransport('');">
            <div class="d-flex align-items-center">
                <span class="text-secondary fs-5 rounded"><i class="bi-arrow-left m-2"></i></span>
                <span class="ms-1">Назад</span>
            </div>
        </a>
        <span id="transportType" class="p-3"></span>
        <small class="text-body-secondary px-3 mb-3 lh-sm">Переместите карту, чтобы посмотреть маршруты и прогноз прибытия в других районах.</small>
        <div class="container-fluid mb-3">
            <div class="row mb-3">
                <div class="col-3">
                    <span class="text-body-secondary">А-Я</span>
                </div>
                <div class="col-9">
                    <span class="badge text-bg-success">е-100</span>
                    <span class="badge text-bg-success">е70</span>
                    <span class="badge text-bg-success">t12</span>
                    <span class="badge text-bg-success">k1</span>
                    <span class="badge text-bg-success">k0</span>
                    <span class="badge text-bg-success">ku2</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span class="text-body-secondary">1</span>
                </div>
                <div class="col-9">
                    <span class="badge text-bg-violet">е-100</span>
                    <span class="badge text-bg-success">е-100</span>
                    <span class="badge text-bg-success">е-100</span>
                    <span class="badge text-bg-success">е-100</span>
                    <span class="badge text-bg-success">е-100</span>
                    <span class="badge text-bg-success">е-100</span>
                </div>
            </div>
        </div>
    </div>
</div>
