{% load static %}
<div id="tools-sidebar" class="w-100">
  <div class="d-flex flex-column">
    <a class="btn btn-light rounded-0 w-100" onclick="sidebars.switch('route_tools');">
      <div class="d-flex align-items-center">
        <span class="text-bg-violet fs-5 rounded"><i class="bi bi-sign-turn-right-fill m-2"></i></span>
        <span class="ms-3">Маршруты</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="sidebars.switch('busstop_tools');">
      <div class="d-flex align-items-center">
        <span class="text-bg-secondary fs-5 rounded"><i class="bi bi-signpost-fill m-2"></i></span>
        <span class="ms-3">Остановки</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="sidebars.switch('transport_tools');">
      <div class="d-flex align-items-center">
        <span class="text-bg-warning fs-5 rounded"><i class="bi bi-bus-front-fill m-2"></i></span>
        <span class="ms-3">Транспорт</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="ExportData();">
      <div class="d-flex align-items-center">
        <span class="text-bg-primary fs-5 rounded"><i class="bi bi-download m-2"></i></span>
        <span class="ms-3">Экспорт данных</span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="ShowImportModal();">
      <div class="d-flex align-items-center">
        <span class="text-bg-success fs-5 rounded"><i class="bi bi-upload m-2"></i></span>
        <span class="ms-3">Импорт данных</span>
      </div>
    </a>
  </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Импорт данных</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form action="/api/v1/data" method="post" class="dropzone dz-clickable rounded-4 border m-5 p-0" id="file-import-dropzone">
          {% csrf_token %}
          <div class="dz-message" id="file-upload-start-message">
            <h1>Выберите файл</h1>
            <p>
              Перетащите файл в это поле или нажмите <strong>здесь</strong> для выбора файла.
            </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="file-import-dropzone" class="btn btn-success" id="upload-file">Загрузить</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/dropzone.min.js' %}"></script>

<script>
  function ShowImportModal() {
    document.getElementById('upload-file').classList.remove('d-none');
    Dropzone.forElement('#file-import-dropzone').removeAllFiles(true);
    const importModalWindow = new bootstrap.Modal('#importModal', {
      backdrop: true,
      focus: true,
      keyboard: true
    });
    importModalWindow.show();
  }
</script>

<script>
  Dropzone.options.fileImportDropzone = {
    autoProcessQueue: false,
    maxFiles: 1,
    paramName: 'file',
    maxFilesize: 10, // MB
  
    // The setting up of the dropzone
    init: function () {
      this.hiddenFileInput.removeAttribute('multiple');
      let myDropzone = this;
      let submitButton = document.getElementById('upload-file');
  
      submitButton.addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        myDropzone.processQueue();
      });
  
      this.on('maxfilesexceeded', function (file) {
        this.removeAllFiles();
        this.addFile(file);
      });
  
      this.on('complete', function () {
        submitButton.classList.add('d-none');
        routes.load();
        busstops.load().then(() => {
          busstops.displayFeatures();
        });
      });
    }
  };
</script>
