{% load static %}
<div id="view-tools" class="w-100">
  <div class="d-flex flex-column">
    <a class="btn btn-light rounded-0 w-100" onclick="sidebars.switch('busstop_list'); fillBusstopList(true);">
      <div class="d-flex align-items-center">
        <span class="text-bg-secondary fs-5 rounded"><i class="bi bi-signpost-fill m-2"></i></span>
        <span class="ms-3">Остановки</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="">
      <div class="d-flex align-items-center">
        <span class="text-bg-success fs-5 rounded"><i class="bi bi-bus-front-fill m-2"></i></span>
        <span class="ms-3">Автобусы</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="">
      <div class="d-flex align-items-center">
        <span class="text-bg-primary fs-5 rounded"><i class="bi bi-bus-front-fill m-2"></i></span>
        <span class="ms-3">Троллейбусы</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="">
      <div class="d-flex align-items-center">
        <span class="text-bg-violet fs-5 rounded"><i class="bi bi-bus-front-fill m-2"></i></span>
        <span class="ms-3">Маршрутки</span>
        <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
      </div>
    </a>
  </div>
</div>
