.map {
    width: 100%;
    height: 100%;
}

.map .ol-rotate {
    top: 2.5rem;
}

.text-bg-violet {
    color: #fff !important;
    background-color: rgb(180, 61, 204) !important;
}

.layer-switcher {
    position: absolute;
    top: 2.5em;
    right: 0.5em;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.2) !important;
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-login {
    max-width: 300px;
}

.sidebar {
    overflow: hidden;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

.sidebar-hidden {
    width: 0px !important;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.sidebar-toggler {
    position: absolute;
    bottom: 43px;
    left: 7px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.sidebar-toggler-visible {
    visibility: visible;
    opacity: 1;
}

.flex-basis-0 {
    flex-basis: 0;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: -102px;
    left: -49px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-bottom-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-bottom-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}