.map {
    width: 100%;
    height: 100%;
}

.map .ol-rotate {
    top: 2.5rem;
}

.text-bg-violet {
    color: #fff !important;
    background-color: rgb(180, 61, 204) !important;
}

.layer-switcher {
    position: absolute;
    top: 2.5em;
    right: 0.5em;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.2) !important;
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-login {
    max-width: 300px;
}

.sidebar {
    overflow: hidden;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

.sidebar-hidden {
    width: 0px !important;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.sidebar-toggler {
    position: absolute;
    bottom: 33px;
    left: 0px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.sidebar-toggler>a:hover {
    background: rgba(80, 80, 80, 0.2) !important;
}

.sidebar-toggler-visible {
    visibility: visible;
    opacity: 1;
}

/* Additional sidebar */

.additional-sidebar {
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.additional-sidebar-show {
    visibility: visible;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

.w-0 {
    width: 0px !important;
}

.flex-basis-0 {
    flex-basis: 0;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: -102px;
    left: -49px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-bottom-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-bottom-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.edit-hints {
    position: absolute;
    width: 544px;
    height: 182px;
    right: 0px;
    bottom: 0px;
    border-radius: 10px 0px 0px 0px;
    z-index: 1;
    opacity: 1;
    overflow: hidden;
    transition: width 0.15s ease-in-out;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out;
    /* -webkit-transition: left 0.15s ease-in-out; */
    /* -moz-transition: left 0.15s ease-in-out; */
    /* -o-transition: left 0.15s ease-in-out; */
    /* transition: left 0.15s ease-in-out; */
}

.edit-hints-hidden {
    /* right: -510px !important; */
    /* overflow: hidden; */
    /* visibility: hidden; */
    width: 0px !important;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.hints-toggler {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.hints-toggler-visible {
    visibility: visible;
    opacity: 1;
}

.search-list-container {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 250px;
    max-height: 250px;
    border: #dee2e6 1px solid;
    border-radius: 10px;
}

.additional-sidebar-container {
    margin-bottom: auto;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.route-legend {
    width: 4px;
    position: absolute;
    left: 26px;
    top: 28px;
    bottom: 28px;
    z-index: 2;
    background-color: rgb(60, 179, 0);
}

.route-legend-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 69px;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
    box-shadow: none !important;
}

.route-legend-essential {
    font-size: 10px;
}

.route-busstops-items {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.route-busstops-item {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 15px 0 15px 56px;
    line-height: 16px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
}

.route-busstops-item:hover {
    background-color: #f6f6f6;
}

.route-busstops-items>.route-busstops-item:first-child {
    height: 12px;
    width: 12px;
}

.route-busstops-bullet {
    position: absolute;
    background-color: rgb(60, 179, 0);
    border-color: rgb(60, 179, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    left: 24px;
    top: 50%;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.route-busstops-link {
    text-decoration: none;
    word-wrap: break-word;
    min-width: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.route-busstops-item:first-of-type>.route-busstops-bullet,
.route-busstops-item:last-of-type>.route-busstops-bullet {
    width: 16px;
    height: 16px;
    left: 20px
}