{% load static %}
<div id="as-route-data" class="d-none h-100">
  <div class="route-legend-title sticky-top bg-white">
    <h2 class="fs-6 fw-medium mb-0">
      <span id="as-route-transport-type" class="d-none"></span>
      <span id="as-route-transport-name"></span>
    </h2>
    <div id="route-legend-essential" class="route-legend-essential">
      <span id="route-legend-start">ЦУМ</span>
      <span class="text-secondary" class="ms-1 me-1"><i class="bi bi-caret-right-fill"></i></span>
      <span id="route-legend-end">Киргу</span>
    </div>
  </div>
  <div class="p-3 border-bottom">
    <span class="fw-medium fs-6">Список остановок</span>
  </div>
  <div class="overflow-y-scroll">
    <ul id="route-busstops-items" class="route-busstops-items">
      <div id="route-legend" class="route-legend"></div>
    </ul>
  </div>
  <div class="mt-auto">
    <a id="as-add-new-busstop" class="btn btn-light rounded-0 w-100">
      <div class="d-flex align-items-center">
        <span class="text-bg-primary fs-5 rounded"><i class="bi bi-plus-circle-fill m-2"></i></span>
        <span class="ms-3 text-start">Добавить остановку</span>
      </div>
    </a>
  </div>
</div>

<script>
  const asRouteInterface = {
    data: document.getElementById('as-route-data'),
    name: document.getElementById('as-route-transport-name'),
    type: document.getElementById('as-route-transport-type'),
    essential: document.getElementById('route-legend-essential'),
    start: document.getElementById('route-legend-start'),
    end: document.getElementById('route-legend-end'),
    items: document.getElementById('route-busstops-items'),
    button: document.getElementById('as-add-new-busstop')
  };
  
  const asFillRouteData = function (direction, callback, name, busstops = null, type = null) {
    selectedDirection = direction;
    asRouteInterface.data.classList.remove('d-none');
    asRouteInterface.data.classList.add('d-flex');
    asRouteInterface.data.classList.add('flex-column');
    asRouteClearBusstops();
    if (busstops && busstops !== undefined) {
      for (let i = 0; i < busstops.length; i++) {
        asRouteAddBusstop(busstops[i].id, busstops[i].name);
      }
    }
    asRouteInterface.name.innerText = name;
    if (type) {
      asRouteInterface.type.classList.remove('d-none');
      asRouteInterface.type.innerText = type;
    } else {
      asRouteInterface.type.classList.add('d-none');
    }
    asRouteInterface.essential.classList.add('d-none');
    asRouteInterface.button.onclick = () => {
      callback(direction);
    };
  };
  
  const asRouteClearBusstops = function () {
    let list = asRouteInterface.items;
    while (list.childNodes.length > 2) {
      list.removeChild(list.lastChild);
    }
  };
  
  const asRouteAddBusstop = function (busstopId, name) {
    let item = document.createElement('li');
    item.classList.add('route-busstops-item');
    let bullet = document.createElement('div');
    bullet.classList.add('route-busstops-bullet');
    let link = document.createElement('a');
    link.classList.add('route-busstops-link');
    link.classList.add('stretched-link');
    link.innerText = name;
    let busstop = busstops.getBusstop(busstopId);
    let feature = busstops.getFeature(busstop.location.point.id);
    link.onclick = function () {
      olSelectFeature(feature);
      olPanToFeature(feature);
    };
    item.appendChild(bullet);
    item.append(link);
    asRouteInterface.items.appendChild(item);
  };
</script>
