{% load static %}
<div id="route-list-sidebar" class="d-none">
    <div class="d-flex flex-column overflow-auto">
        <a class="btn btn-light rounded-0 w-100" onclick="SelectToolSidebar('route_tools'); ClearRouteLayer();">
            <div class="d-flex align-items-center">
                <span class="text-secondary fs-5 rounded"><i class="bi-arrow-left m-2"></i></span>
                <span class="ms-3">Назад</span>
            </div>
        </a>
        <span class="p-3">Список маршрутов</span>
        <small class="text-body-secondary px-3 mb-3 lh-sm">Выберите маршут из списка для редактирования и просмотра.</small>
        <div class="d-flex flex-wrap gap-1 mb-3 px-3" id="route-list"></div>
        {% include 'route/data.html' %}
    </div>
</div>
