{% load static %}
<div id="routes-sidebar" class="d-none">
    <a class="btn btn-light rounded-0 w-100" onclick="selectToolSidebar('tools-sidebar');">
        <div class="d-flex align-items-center">
            <span class="text-bg-primary fs-5 rounded"><i class="bi bi-caret-left-fill m-2"></i></span>
            <span class="ms-3">Назад</span>
        </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="selectToolSidebar('new-route-sidebar');">
        <div class="d-flex align-items-center">
            <span class="text-bg-primary fs-5 rounded"><i class="bi bi-plus-square m-2"></i></span>
            <span class="ms-3">Создать новый</span>
            <span class="ms-auto text-secondary"><i class="bi bi-caret-right-fill"></i></span>
        </div>
    </a>
    <a class="btn btn-light rounded-0 w-100" onclick="selectToolSidebar('route-list-sidebar');">
        <div class="d-flex align-items-center">
            <span class="text-bg-primary fs-5 rounded"><i class="bi bi-list m-2"></i></span>
            <span class="ms-3">Список маршрутов</span>
            <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
        </div>
    </a>
</div>
