{% load static %}
<div id="route-tools-sidebar" class="d-none w-100">
    <div class="d-flex flex-column">
        <a class="btn btn-light rounded-0 w-100">
            <div class="d-flex align-items-center">
                <span class="text-bg-violet fs-5 rounded"><i class="bi bi-sign-turn-right-fill m-2"></i></span>
                <span class="ms-3">Маршруты</span>
            </div>
        </a>
        <a class="btn btn-light rounded-0 w-100" onclick="SelectToolSidebar('tools');">
            <div class="d-flex align-items-center">
                <span class="text-secondary fs-5 rounded"><i class="bi-arrow-left m-2"></i></span>
                <span class="ms-3">Назад</span>
            </div>
        </a>
        <a class="btn btn-light rounded-0 w-100" onclick="SelectToolSidebar('route-new'); fillNewRouteForm();">
            <div class="d-flex align-items-center">
                <span class="text-bg-violet fs-5 rounded"><i class="bi bi-plus-square m-2"></i></span>
                <span class="ms-3">Создать новый</span>
                <span class="ms-auto text-secondary"><i class="bi bi-caret-right-fill"></i></span>
            </div>
        </a>
        <a class="btn btn-light rounded-0 w-100" onclick="SelectToolSidebar('route-list'); FillRouteList();">
            <div class="d-flex align-items-center">
                <span class="text-bg-violet fs-5 rounded"><i class="bi bi-list m-2"></i></span>
                <span class="ms-3">Список маршрутов</span>
                <span class="ms-auto text-secondary"><i class="bi-caret-right-fill"></i></span>
            </div>
        </a>
    </div>
</div>
