{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
  <title>Главная страница</title>
{% endblock %}
{% block specific_styles %}
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="{% static 'openlayers/ol.css' %}" type="text/css" />
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
  <div class="container-fluid h-100 d-flex flex-column flex-sm-row p-0">
    {% include 'map/view_sidebar.html' %}
    {% include 'map/view_additional_sidebar.html' %}
    <div id="map-container" class="col flex-grow-1">
      <div id="map" class="map"></div>
    </div>
  </div>
{% endblock %}
{% block footer %}

{% endblock %}
{% block specific_scripts %}
  <script src="{% static 'proj4js/proj4.js' %}"></script>
  <script src="{% static 'openlayers/dist/ol.js' %}"></script>
  <script src="{% static 'js/map/defs.js' %}"></script>
  <script src="{% static 'js/map/config.js' %}"></script>
  <script src="{% static 'js/map/view.js' %}"></script>
  <script src="{% static 'js/functions/requests.js' %}"></script>
  <script src="{% static 'js/functions/common.js' %}"></script>
  <script src="{% static 'js/route/loader.js' %}"></script>
  <script src="{% static 'js/busstop/loader.js' %}"></script>
  <script src="{% static 'js/transport/loader.js' %}"></script>

  <script src="{% static 'js/functions/test.js' %}"></script>
{% endblock %}
