{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
    <title>Главная страница</title>
{% endblock %}
{% block specific_styles %}
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .container {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container my-auto">
        <h1>bus05</h1>
    </div>
{% endblock %}
